<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IForumDataService" />
        <binding openTimeout="01:00:00"
                 closeTimeout="01:00:00"
                 sendTimeout="01:00:00"
                 receiveTimeout="01:00:00"/>
      </basicHttpBinding>
      <mexHttpBinding>
        <binding openTimeout="01:00:00"
                 closeTimeout="01:00:00"
                 sendTimeout="01:00:00"
                 receiveTimeout="01:00:00"/>
      </mexHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/Discussme.BLL/ForumDataService/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IForumDataService"
          contract="BLL_Service.IForumDataService" name="BasicHttpBinding_IForumDataService" />
    </client>
  </system.serviceModel>
</configuration>