@model IEnumerable<Discussme.PL.Models.SectionsModel>

@{
    ViewBag.Title = "Index";
}
<p style="height: 20px"/>
<h6 style="font-size: 64px; font-family: 'Bump it up fixed 0'">DISCUSSME</h6>
<p style="height: 20px"/>

<table class="table">

@foreach (var item in Model) {
    <tr>
        <td style="font-weight: bold; font-size:16px">
            @Html.DisplayFor(modelItem => item.SectionName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
